@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.steps {
	font-family: 'Work Sans', sans-serif;
	padding:3rem 0 0 3rem;
}

.header {
	font-family: 'Work Sans', sans-serif;
	position:fixed;
	right:0;
	padding:3rem 3rem 0 0;
	cursor:pointer;
}

.remove-decoration {
	color:#373F51;
}