@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.steps {
	font-family: $base-font;
	padding:3rem 0 0 3rem;
}

.net-worth {
	font-family: $base-font;
}

.header {
	font-family: $base-font;
	position:fixed;
	right:0;
	top:0;
	cursor:pointer;
}

.remove-decoration {
	color:#373F51;
}