@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.steps {
	font-family: 'Work Sans', sans-serif;
}

.header {
	font-family: 'Work Sans', sans-serif;
	position:fixed;
	right:0;
	padding-right: 2rem;
	cursor:pointer;
}

.remove-decoration {
	color:#373F51;
}